<body>

    <h1>Edit Employee</h1>

    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
        <!-- id has to be read only -->
            <form action="/employees/edit/<%=person.eid %>" method="post">
                <label>EID</label>
                <input type="text" name="eid" value="<%=person.eid %>" readonly><br>
                <label>Name</label>
                <input type="text" name="ename" value="<%=person.ename %>"><br>
                <label>Role</label>
                <input type="text" name="role" value="<%=person.role %>"><br>
                <label>Salary</label>
                <input type="text" name="salary" value="<%=person.salary %>"><br>

                <input type="submit" value="Edit">
            </form>

</body>

<ul></ul>
<a href="/employees">Back</a>
<br>
<a href="/">Home</a>