<h1>Employees</h1>
<br><br>
<a href="/employees/add">Add Employee (MySQL)</a>
<br><br>

<table border="1">
    <tr>
        <th>EID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Salary</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>

    <!-- loop person and foreach person display elements -->
    <% person.forEach((p)=> { %>
        <tr>
            <td>
                <%= p.eid %>
            </td>
            <td>
                <%= p.ename %>
            </td>
            <td>
                <%= p.role %>
            </td>
            <td>
                <%= p.salary %>
            </td>

            <td>
                <a href="/employees/edit/<%=p.eid%>">Update</a>
            </td>

            <td>
                <a href="/employees/delete/<%=p.eid%>">Delete</a>

            </td>



        </tr>
        <% }) %>


</table>
<ul></ul>


<a href="/">Home</a>